@import url("./css/vendors.min.css");
@import url("./css/icon.min.css");
@import url("./css/style.css");
@import url("./css/responsive.css");
@import url("./css/hosting.css");

html {
  scroll-behavior: smooth;
}
/* .custom-navbar{
 padding: 15px 0px;
} */
.white-80{
  color: rgba(255, 255, 255, 0.808);
}
.textSmall{
  font-size: 15px!important;
  line-height: 24px!important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #df5e93, #000f4c, #000f4c);
  /* background: linear-gradient(135deg, #df5e93, #62278d, #000f4c); */
  opacity: 0.6; /* Medium opacity */
  pointer-events: none; /* Makes the overlay non-interactive */
}
.agreementcheck {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.agreementcheck input {
  width: 20px;
}
.cta {
  cursor: pointer;
}
.sticky-active {
  background-color: black !important;
}
.background-yellow {
  background-color: #ffea23;
}
.background-yellow:hover {
  background-color: #ffea23;
  color: black;
}
/* @import url("/app/revolution/css/settings.css");
@import url("/app/revolution/css/layers.css");
@import url("/app/revolution/css/navigation.css"); */
.intro-character {
  margin-top: 350px;
}

.alert-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 0.5rem;

  width: fit-content;
  margin: 0.25rem auto 0;
  font-size: 0.875rem; /* Tailwind's text-sm */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-box.error {
  color: #e11d48; /* Tailwind's red-600 */
  border-left: 4px solid #e11d48; /* Tailwind's red-600 */
  background-color: #fee2e2; /* Tailwind's red-100 */
}
.alert-box.success {
  color: #059669; /* Tailwind's red-600 */
  border-left: 4px solid #059669; /* Tailwind's red-600 */
  background-color: #dcfce7; /* Tailwind's red-100 */
}

.maxwidth-large {
  max-width: 1400px;
  margin: 0 auto;
}

.maxwidth-medium {
  max-width: 1300px;
  margin: 0 auto;
}
.padding-y {
  padding-top: 32px;
  padding-bottom: 32px;
}
.padding-x {
  padding-left: 32px;
  padding-right: 32px;
}
.btn-wrapper {
  width: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 600px;
  height: 400px;
}

.card:hover .position-absolute {
  opacity: 1;
  pointer-events: auto;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  width: 50px!important;
  height: 50px!important;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  font-size: 24px;
  color: #ffffff;
}

.swiper-button-prev::before {
  content: "\2190"; /* Left arrow */
}

.swiper-button-next::before {
  content: "\2192"; /* Right arrow */
}

.mySwiper .swiper-slide {
  transition: transform 0.8s ease;
}

.banner-card-wrapper{

}
.banner-card{

}
.banner-card-img{

}
.banner-card-point{

}

@media screen and (max-width: 920px) {
  .marginTop {
    margin-top: 80px;
  }
}
@media screen and (max-width: 600px) {
  .marginTopSmall {
    margin-top: 40px;
  }
  .swiper-slide {
    width: 90%!important;
  }
  .blogcontainer-mt{
    margin-top: 80px;
  }
  .blog-title{
    line-height: 24px!important;
  }
  .feature-title{
    font-weight: 600!important;
    font-size: 22px!important;
  }
  .banner-card-wrapper{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .banner-card-container{
    gap: 20px;
    box-shadow: none!important;
    border: none!important;
  }
  .banner-card{
    display: flex!important;
    flex-direction: column!important;
  } 
  .banner-card-point{
    text-align: center!important;
    line-height: 25px!important;
  }
}

@media screen and (min-width: 1050px) {
  .custom-pl {
    padding-left: 50px!important;
  }
}
