@import url("./css/vendors.min.css");
@import url("./css/icon.min.css");
@import url("./css/style.css");
@import url("./css/responsive.css");
@import url("./css/hosting.css");

html {
  scroll-behavior: smooth;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #df5e93, #62278d, #000f4c);
  opacity: 0.6; /* Medium opacity */
  pointer-events: none; /* Makes the overlay non-interactive */
}
.agreementcheck{
    display: flex;
    align-items:center;
    justify-content: start;
    gap: 10px;
}

.agreementcheck input{
    width: 20px;
}
.cta{
    cursor: pointer;
}
.sticky-active{
    background-color: black!important;
}
/* @import url("/app/revolution/css/settings.css");
@import url("/app/revolution/css/layers.css");
@import url("/app/revolution/css/navigation.css"); */
